/* Variables de color */
:root {
    --main-bg-color: #2e0d57;
    --secondary-bg-color: #6515b8;
    --text-color: #333;
    --light-bg-color: #f4f4f4;
    --highlight-color: #faf3cc;
    --btn-bg-color: #49c9d3;
    --btn-hover-bg-color: #2b2d42;
}

/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--light-bg-color);
    color: var(--text-color);
    padding-top: 30px; /* Ajusta este valor según la altura de tu navegador */
    overflow-x: hidden; /* Evita que el contenido se desplace horizontalmente */
}

/* Estilos de la barra de navegación */
.nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--main-bg-color);
    transition: background-color 0.3s, color 0.3s;
    padding: 10px 20px;
    z-index: 1000;
    box-sizing: border-box;
}

.nav.fixed {
    background-color: var(--light-bg-color); /* Cambia el color de fondo a blanco */
    color: var(--text-color); /* Cambia el color del texto a negro */
    box-shadow: 0 1px 3px var(--main-bg-color);
}

.nav.fixed .brand, .nav.fixed ul li a {
    color: var(--text-color); /* Asegúrate de que el texto también sea negro */
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.nav ul li {
    margin: 0 15px;
}

.nav ul li a {
    color: var(--light-bg-color);
    text-decoration: none;
    font-size: 1.2em;
}

.nav.fixed ul li a {
    color: var(--text-color); /* Cambia el color del texto a negro cuando el nav está fijo */
}

/* Estilos para la primera sección */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--main-bg-color);
}

.banner .content {
    flex: 1;
    max-width: 50%; /* Ajusta el ancho del texto */
    padding: 20px;
    background: var(--secondary-bg-color); /* Fondo semitransparente */
    border-radius: 10px; /* Bordes redondeados */
}

.banner .image {
    flex: 0 0 40%; /* Ajusta la imagen a un 40% del ancho del contenedor */
    display: flex;
    justify-content: center; /* Centra la imagen dentro de su contenedor */
    width: 480px; /* Ajusta el ancho a 480px */ 
    height: 480px; /* Ajusta la altura a 480px */ 
    object-fit: cover;
}

.banner .image img {
    max-width: 100%; /* Asegúrate de que la imagen no supere su contenedor */
    height: auto;
    border-radius: 15px; /* Bordes redondeados */
    border: 2px solid var(--light-bg-color); /* Borde blanco alrededor de la imagen */
}

.banner h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: var(--highlight-color); /* Color dorado para resaltar el título */
}

.banner p {
    font-size: 1.2em;
    color: #D3D3D3; /* Color gris claro para el párrafo */
}

/* Estilos para la segunda sección */
.banner2 {
    display: flex;
    justify-content: space-between; /* Asegúrate de que los elementos se alineen adecuadamente */
    align-items: center;
    padding: 20px;
    background-color: var(--light-bg-color);
}

.banner2 .content2 {
    flex: 1;
    max-width: 50%; /* Ajusta el ancho del texto */
    padding: 20px;
    background: rgba(255, 255, 255, 0.1); /* Fondo semitransparente */
    border-radius: 10px; /* Bordes redondeados */
}

.banner2 .image2 {
    flex: 0 0 40%; /* Ajusta la imagen a un 40% del ancho del contenedor */
    display: flex;
    justify-content: center; /* Centra la imagen dentro de su contenedor */
    width: 480px; /* Ajusta el ancho a 480px */ 
    height: 480px; /* Ajusta la altura a 480px */ 
    object-fit: cover;
}

.banner2 .image2 img {
    max-width: 100%; /* Asegúrate de que la imagen no supere su contenedor */
    height: auto;
    border-radius: 15px; /* Bordes redondeados */
    border: 2px solid rgb(0, 0, 0); /* Borde blanco alrededor de la imagen */
}

.banner2 h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #302f2b; /* Color dorado para resaltar el título */
}

.banner2 p {
    font-size: 1.2em;
    color: #555151; /* Color gris claro para el párrafo */
}

/* Estilos para las tarjetas */

.SectCards{
    display: flex;
    justify-content: center; /* Asegúrate de que los elementos se alineen adecuadamente */
    align-items: center;
    padding: 20px;
    background-color: var(--light-bg-color);
}
.cards {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: var(--light-bg-color); /* Fondo */
}

.card {
    background-color: #9a6ae6;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 99%; /* Ajusta el ancho según sea necesario */
    text-align: center;
    margin: 0;
}

.card iframe {
    border: none; /* Elimina los bordes del iframe */
    border-radius: 10px; /* Bordes redondeados para el iframe */
    margin-top: 20px; /* Espacio superior para separar el iframe del contenido anterior */
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card h2 {
    color: #403b6e; /* Color del título */
    margin-bottom: 10px;
}

.card p {
    color: var(--text-color); /* Color del texto */
    margin: 5px 0;
}

.logos img {
    max-width: 50px; /* Ajusta el tamaño de los logos */
    margin: 5px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--btn-bg-color); /* Color del botón */
    color: var(--light-bg-color);
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.btn:hover {
    background-color: var(--btn-hover-bg-color); /* Color del botón al pasar el mouse */
}

/* FAQ (Preguntas Frecuentes) */
.faq {
    padding: 20px;
    background-color: var(--secondary-bg-color); /* Fondo en color púrpura oscuro */
    color: var(--light-bg-color);
    border-radius: 10px;
    margin: 20px auto;
    max-width: 800px; /* Ajusta el ancho según sea necesario */
    text-align: center;
}

.faq-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
    flex-direction: column;
}

.faq-header img {
    max-width: 50px;
    margin-right: 10px;
}

.faq-header h2 {
    margin: 0;
    font-size: 2em;
    color: var(--light-bg-color);
    text-align: center;
}

.faq-content {
    background-color: var(--light-bg-color);
    color: #4f4797; /* Color del texto en púrpura */
    padding: 20px;
    border-radius: 10px;
}

.faq-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 20px 0;
}

.faq-content ul li {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.faq-link {
    display: inline-block;
    color: #4f4797; /* Color del enlace */
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
}

.faq-link:hover {
    text-decoration: underline;
}

/* Footer (Pie de página) */
.footer {
    background-color: #110026; /* Color de fondo del footer */
    color: var(--light-bg-color);
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-section {
    margin: 10px 0;
    flex: 1;
    min-width: 250px; /* Ancho mínimo para cada sección del footer */
    color: var(--light-bg-color);
}

.footer-section h3 {
    margin-bottom: 15px;
    font-size: 1.5em;
    color: var(--light-bg-color);
}

.footer-bottom {
    padding: 10px 0;
    border-top: 1px solid var(--light-bg-color);
    color: var(--light-bg-color);
}

.footer-bottom p {
    margin: 0;
    font-size: 0.9em;
}
